.box-borderbox {box-sizing: border-box;}

.mybanner{
  background-image: url(../../assets/images/bg.png);
  background-position: center;
  background-size: cover;
  height:480px;
  padding-top: 254px;
}

/* for nav bar */
.nav-scroller {
  height: 2.75rem;  /* 隱藏下方捲軸 */
  overflow-y: hidden; 
  border-bottom: 1px solid #707070;
}
.nav-scroller .nav {
  flex-wrap: nowrap;
  padding-bottom: 1rem; /* 隱藏下方捲軸 */
  overflow-x: auto;
  white-space: nowrap;
}



@include media-breakpoint-up(md) {
  .mybanner{
    padding-top: 167px;
  }

  .w-md-auto {
    width: auto!important;
  }
}
@include media-breakpoint-up(lg) {
  .w-lg-auto {
    width: auto!important;
  }
}